//the link imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

//the sass variables
$color-black: #000;
$color-white: #fff;
$color-black-light: rgba(0, 0, 0, 0.712);
$color-green: #2ecc71;
$color-green-dark: #009432;
$color-primary-dark: rgba(9, 116, 165, 0.924);
$color-primary: rgb(0, 174, 255);
$color-red: #d63031;
$color-red-light: #e55039;
//heading
.heading__primary {
  color: $color-red-light;
}
//the buttons
a:hover,
button:hover,
.card:hover {
  cursor: none;
}
.btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  margin: 0.2rem;
  &__lg {
    width: 10rem;
  }
  &__green {
    background: $color-green;
    color: #fff;
    border: 1px solid $color-green;
    transition: all 0.5s;
    &:hover {
      background: $color-green-dark;
      border: 1px solid $color-green-dark;
    }
  }
  &__primary {
    background: $color-primary;
    border: 1px solid $color-primary;
    transition: all 0.5s;
    color: #fff;
    &:hover {
      background: $color-primary-dark;
      border: 1px solid $color-primary-dark;
    }
  }
}
//root reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
body {
  cursor: none;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}

//the header section

.navbar {
  font-size: 1.5rem;
  display: flex;
  margin: 0 2rem;
  &__logo {
    display: flex;
    justify-content: flex-start;
    height: 5rem;
    width: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__links {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    padding-top: 1.4rem;
  }
  &__link {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: $color-black;
    padding-bottom: 0.5rem;
    &:hover {
      border-bottom: 1px solid $color-black;
    }
  }
}

.hero__img {
  color: $color-white;
  width: 100%;
  height: 39rem;
  background-image: linear-gradient(
      to right bottom,
      $color-black,
      $color-black-light
    ),
    url('../img/hero__img.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__header {
  margin-top: 3rem;
  width: 40rem;
  height: 20rem;
}
.scroll__btn {
  margin-top: 3rem;
}
//the games section
section.games__section {
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
  }
}
.card {
  height: 25rem;
  color: $color-black;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  position: relative;
  cursor: pointer;
  &:hover {
    transform: rotateY(180deg);
  }
  .front {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #fff;
    position: absolute;
  }
  .back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #fff;
    transform: rotateY(180deg);
    position: absolute;
  }
  &__image {
    width: 100%;
    height: 60%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    background: orangered;
  }
}

//margin wrappers
.mt-40 {
  margin-top: 4rem;
}
.wrapper {
  width: 100%;
}

//grid
.grid-container {
  width: 90%;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/*_--------------------Third party plugins-------------------------*/
#cursor {
  border-radius: 1000px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(244, 67, 54, 1);
  margin: -15px;
  transition-duration: 150ms;
  z-index: 10000;
  padding: 0;
  box-sizing: border-box;
}

#pointer {
  border-radius: 1000px;
  width: 10px;
  height: 10px;
  border: 5px solid rgba(244, 67, 54, 1);
  margin: -5px;
  z-index: 10001;
  padding: 0;
  box-sizing: border-box;
}
